/*fontes*/
@font-face {
    font-family: 'museo_slab';
    src: url('../fonts/museo_slab_300-webfont.woff2') format('woff2'),
         url('../fonts/museo_slab_300-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'museo_slab';
    src: url('../fonts/museo_slab_300italic-webfont.woff2') format('woff2'),
         url('../fonts/museo_slab_300italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'museo_sans';
    src: url('../fonts/museosans-300-webfont.woff2') format('woff2'),
         url('../fonts/museosans-300-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'museo_sans';
    src: url('../fonts/museosans-300italic-webfont.woff2') format('woff2'),
         url('../fonts/museosans-300italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'museo_sans';
    src: url('../fonts/museosans_500_italic-webfont.woff2') format('woff2'),
         url('../fonts/museosans_500_italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'museo_slab';
    src: url('../fonts/museo_slab_500-webfont.woff2') format('woff2'),
         url('../fonts/museo_slab_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: bold;
}
@font-face {
    font-family: 'museo_slab500_italic';
    src: url('../fonts/museo_slab_500italic-webfont.woff2') format('woff2'),
         url('../fonts/museo_slab_500italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'museo_sans';
    src: url('../fonts/museosans_500-webfont.woff2') format('woff2'),
         url('../fonts/museosans_500-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

$font_padrao:'museo_sans', sans-serif;
$font_serif:'museo_slab', serif;

/*cores*/
$yellow:#eab400;
$grey:#5e5956;
$white:#fff;

*{
	outline: none;
}

// Padrao

body{
	font-family: $font_padrao;
	color:$grey;
	p{
		line-height: normal;
		font-size: 15px;
	}
}
h1,h2,h4,h5,h6{
	font-weight: normal;margin: 0;
	line-height: normal;
	font-family:$font_serif;
}
h3{
    font-size: 18px;
    font-family: $font_padrao;
    font-weight: bold;
}

a,
button{
	outline: none;
	transition: all 0.4s;
	&:hover,
	&:focus,
	&:active{
		color: inherit;
		text-decoration: none;
	}
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}

/*forms*/
.photo-upload{
	position:relative;
}
.uk-form-file{
	position:relative;
 	input[type=file] {
	    position: absolute;
	    top: 0;
	    z-index: 1;
	    width: 100%;
	    opacity: 0;
	    cursor: pointer;
	    left: 0;
	    height: 100%;
	}
}
.uk-form-row{
	width:100%;
}
label, .uk-form-stacked .uk-form-label{
    font-size: 15px;
    line-height: 22px;
    cursor: default;
    display: inline-block;
    vertical-align: top;
    font-weight: normal;
    padding: 15px 0 5px 0;
}
.uk-form select, .uk-form textarea, .uk-form input:not([type]), .uk-form input[type="text"], .uk-form input[type="password"], .uk-form input[type="datetime"], .uk-form input[type="datetime-local"], .uk-form input[type="date"], .uk-form input[type="month"], .uk-form input[type="time"], .uk-form input[type="week"], .uk-form input[type="number"], .uk-form input[type="email"], .uk-form input[type="url"], .uk-form input[type="search"], .uk-form input[type="tel"], .uk-form input[type="color"]{
	width: 100%;
    min-height: 45px;
    border: none;
    background: #fff;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    border-radius: 0px;
    padding: 10px 20px;
    font-family: $font_padrao;
    font-size: 15px;
    line-height: 20px;
    display: inline-block;
    
}
.uk-form textarea{
	resize: none;
	min-height:100px;
}
.uk-form .uk-button{
	width: auto;
    height: 45px;
    -webkit-appearance: none;
    border: none;
    position: relative;
    display: inline-block;
    background: #eab400;
    border-radius: 5px;
    font-family: $font_padrao;
    font-size: 20px;
    line-height: 45px;
    color: #fff;
    text-align: center;
    -webkit-box-shadow: 0px 4px 0px 0px #AA7B27;
    -moz-box-shadow: 0px 4px 0px 0px #AA7B27;
    box-shadow: 0px 4px 0px 0px #AA7B27;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    &:hover{
    	margin-top: 4px;
	    -webkit-box-shadow: 0px 0px 0px 0px #AA7B27;
	    -moz-box-shadow: 0px 0px 0px 0px #AA7B27;
	    box-shadow: 0px 0px 0px 0px #AA7B27;
    }
}
.uk-checkbox,.uk-radio{
	position:relative;
	padding-left:40px;
}
.uk-form input[type=checkbox], .uk-form input[type=radio]{
    width: 25px;
    height: 25px;
    background: #FFF;
    border: solid 1px #FFF;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 10px 10px 0;
    // position: absolute;
    left: 0;
}
.uk-form input[type=checkbox]:checked:before, .uk-form input[type=checkbox]:indeterminate:before{
	font-size:15px;
	color:$yellow;
	line-height: 22px;
}
.uk-form input[type=radio]:checked:before{
	width: 11px;
    height: 11px;
    margin: 6px auto 0;
    border-radius: 50%;
    background: $yellow;
}

/*tabs*/
.uk-tab>li a{
	font-size: 15px;
	color: $grey;
}
.uk-tab>li>a:hover, .uk-tab>li>a:focus, .uk-tab>li.uk-open>a,.uk-tab>li.uk-active>a{
	color: $grey;
	font-weight:bold;
}