.container-space{
	margin:20px auto 30px auto;
}
.title-pages{
	color:$yellow;
	font-size: 34px;
    margin-bottom: 30px;
    padding: 0 20px;
}
.title-form {
    font-family:$font_padrao;
    font-weight: 300;
    font-size: 20px;
    color: $yellow;
    line-height: 25px;
    display: block;
    white-space: nowrap;
    margin-bottom: 15px;
}
.steps{
	li{
		padding: 20px 0;
		border-bottom: 1px solid #ddd;
		h3{
			margin:0;
			font-weight: normal;
			span{
				font-weight: bold;
			}
		}
	}
}
.plans-tabs{
	margin:30px 0;
	li{
		cursor:pointer;
		h3{
			height: 70px;
			width: 70px;
			padding:30px;
			text-align: center;
			background: #eee;
			span{
				display: inline-block;
				font-size: 22px;
				background:$white;
				color: $grey;
				padding:10px;
				width: 20px;
				height: 20px;
				border-radius: 100%;
			}
			strong{
				display: block;
				text-align: center;
				margin-top: 10px;
			}
		}
		&.uk-active{
			h3{
				background: $yellow;
				color: $white;
				span{
					background:$white;
					color: $yellow;
				}
			}
		}
	}
}

.box-pagamento{
	// padding:30px;
	margin: 20px 0;
    // height: 310px;
    display: block;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    thead{
		border-bottom: 2px solid #ccc;
    }
    h2{
    	background:#57c732;
    	padding:20px;
    	color: $white;
    }
    .box-content{
    	padding:20px;
    }
}
.box-cadastre-pet{
	padding: 30px;
    margin: 30px auto;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    background:$white;
    .title-pages{
    	font-size: 24px;
    	margin-top:20px;
    	color: $yellow;
    }
}
.box-planos{
	text-align:center;
    margin: 30px auto;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    	&.basico{
	    	.title-plan{
				background:#BCB3AE;
			}
			.price-plan{
	    		color: #BCB3AE;
	    	}
    	}
    	&.economico{
    		.title-plan{
    		background: #DB3A68;
    		}
    		.price-plan{
	    		color: #DB3A68;
	    	}
    	}
    	&.premium{
    		.title-plan{
    		background: #4CBDC7;
    		}
    		.price-plan{
	    		color: #4CBDC7;
	    	}
    	}
    .title-plan{
    	padding: 20px;
    	font-size: 20px;
    	color: $white;
    	small{
    		display: block;
    		padding-top:10px;
    	}
    }
    .content-plan{
    	padding: 20px;
    	.price-plan{
    		font-weight: bold;
    		font-size: 16px;
    		margin-bottom: 10px;
    		.big{
    			font-size: 32px;
    		}
    	}
    	.desc-plan{
    		padding:20px 0;
    		border-top:1px solid #ccc;
    	}
    	.uk-radio{
    		margin: auto;
    		width: 30px;
    		padding-left:0;
    	}
    }
}
.box-upload{
    max-width:400px;
    margin: 30px auto;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    .upload_content{
    	overflow: hidden;
    	padding:20px;
    	.title-form{
    		small{
    			display: block;
    			color: $grey;
    			font-size: 12px;
    		}
    	}
    	.user-photo,.pet-photo,.gallery-photo{
    		height: 300px;
    		margin: 20px 0;
    	}
    	.user-photo{
			background:url(../imagens/profile.svg) no-repeat center center;
			background-color: #eee;
			background-size:70%;
    	}
    	.pet-photo{
			background:url(../imagens/dog.svg) no-repeat center center;
			background-size:70%;
			background-color: #eee;
    	}
    	.gallery-photo{
    		background:url(../imagens/dog.svg) no-repeat center center;
			background-color: #eee;
			background-size:70%;
			.uk-slideshow{
				height: 100%;
				li{
					height: 100%;
				}
			}
			.uk-slidenav{
				color: $yellow;
			}
			.uk-dotnav{
				margin: 20px 0;
				.uk-active{
					a{
						background: $yellow;
					}
				}
			}
    	}
    }
}
.box-cupom{
	background:#57c732;
	padding:30px;
	.title-form{
		color: $white;
	}
	.uk-button{
		width: 100%;
	}
}
.block_dashboard{
	padding:30px;
	margin: 20px 0;
    // height: 310px;
    display: block;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    .title-block{
    	color: $yellow;
    	padding:20px 0;
    }
    ul{
    	li{
    		padding: 10px 0;
    		// font-weight: bold;
    		font-size: 16px;
    		text-align: left;
    		padding-left: 30px;
    		position: relative;
    		color: $grey;
    		&:before{
    			content: "\f061";
    			font-family: FontAwesome;
    			display: block;
    			position: absolute;
    			left: 0;
    			color: #cccccc;
    		}
    	}
    }
    &:hover{
    	background:#eeeeee;
    	*{
    		// color: $yellow;
    	}
    	li{
	  //   	&:before{
	  //   		color: $yellow;
			// }
		}
    }
    
    
}

/*site css*/